body {
    scroll-behavior: smooth;
    background: linear-gradient(99.6deg, rgb(112, 128, 152) 10.6%, rgb(242, 227, 234) 32.9%, rgb(234, 202, 213) 52.7%, rgb(220, 227, 239) 72.8%, rgb(185, 205, 227) 81.1%, rgb(154, 180, 212) 102.4%);
}

a.navbar-brand {
    font-size: 45px;
}

li.nav-item:hover {
    background-color: #A5A9BA;
    border-radius: 15px;
}

div.contact a {
    font-size: 40px;
}

.icons {
    font-size: 55px;
    transition: transform 2s;
    transform: rotateY(0);
}

.icons:hover {
    transform: rotateY(360deg);
}